<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.fuzhuoqun.theme_watch</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/fuzhuoqun/.config/sketchybar/helpers/event_providers/theme/bin/theme_watch</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ProcessType</key>
    <string>Background</string>
    <key>StandardOutPath</key>
    <string>/tmp/theme_watch.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/theme_watch.err</string>
</dict>
</plist>
